TaskTokenExecutor.json
{
  "StartAt": "OddEvenFunction",
  "States": {
    "OddEvenFunction": {
      "Next": "Is the number Even?",
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:342600918501:function:StepFunctionDemoStack-OddOrEvenFunction81FC086C-3973NDZQ3JPZ:$LATEST"
    },
    "Is the number Even?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Result",
          "StringEquals": "Even",
          "Next": "Process1"
        },
        {
          "Variable": "$.Result",
          "StringEquals": "Odd",
          "Next": "Process2"
        }
      ]
    },
    "Process1": {
      "Next": "TaskTokenExecutor",
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:342600918501:function:StepFunctionDemoStack-Process1Function64F04A06-1OJZCXZHCUTTT:$LATEST"
    },
    "TaskTokenExecutor": {
      "Next": "Is Resolved Or Overriden?",
      "Parameters": {
        "FunctionName": "StepFunctionDemoStack-TaskTokenExecutorFunction259-11D5O2776VO0K:$LATEST",
        "Payload": {
          "TaskToken.$": "$$.Task.Token",
          "State.$": "$"
        }
      },
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken"
    },
    "Is Resolved Or Overriden?": {
      "Type": "Choice",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.Resolved",
              "BooleanEquals": true
            },
            {
              "Variable": "$.Override",
              "BooleanEquals": true
            }
          ],
          "Next": "Process12"
        }
      ],
      "Default": "Process2"
    },
    "Process2": {
      "End": true,
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:342600918501:function:StepFunctionDemoStack-Process2Function273202F1-8N4P90B3BMII:$LATEST"
    },
    "Process12": {
      "End": true,
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:342600918501:function:StepFunctionDemoStack-Process12FunctionD2B0C67B-1NIM6PLIN9N0J:$LATEST"
    }
  },
  "TimeoutSeconds": 300
}